.terms-of-service-container1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.terms-of-service-hero {
  width: 100%;
  height: 249px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/grainy-2000h.png");
  background-position: center;
}
.terms-of-service-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  justify-content: space-between;
}
.terms-of-service-navlink1 {
  display: contents;
}
.terms-of-service-text10 {
  color: rgb(255, 255, 255);
  width: 159px;
  height: 54px;
  font-size: 32px;
  text-decoration: none;
}
.terms-of-service-desktop-menu {
  gap: var(--dl-space-space-threeunits);
  display: flex;
}
.terms-of-service-register1 {
  text-decoration: none;
}
.terms-of-service-icon10 {
  width: 16px;
  height: 16px;
}
.terms-of-service-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.terms-of-service-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.terms-of-service-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}
.terms-of-service-nav1 {
  display: flex;
  z-index: 20;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.terms-of-service-text12 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.terms-of-service-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.terms-of-service-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.terms-of-service-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-button-container {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.terms-of-service-login {
  margin-right: var(--dl-space-space-twounits);
}
.terms-of-service-icon-group {
  display: flex;
  z-index: 20;
}
.terms-of-service-icons {
  display: flex;
}
.terms-of-service-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.terms-of-service-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.terms-of-service-icon20 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.terms-of-service-background {
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 80%;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.terms-of-service-hero-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 160px;
  display: flex;
  z-index: 100;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.terms-of-service-text18 {
  color: rgb(255, 255, 255);
  width: 1192px;
  height: 85px;
  font-size: 70px;
  align-self: center;
  text-align: center;
}
.terms-of-service-black {
  gap: 120px;
  width: 100%;
  height: 1997px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/grainy-2000h.png");
}
.terms-of-service-image {
  top: 0px;
  left: 0px;
  bottom: 0px;
  height: 650px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.terms-of-service-join {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.terms-of-service-more {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 0px;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.terms-of-service-accordion1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-header10 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.terms-of-service-title1 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  max-width: 900px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.terms-of-service-items1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-element1 {
  align-items: flex-start;
}
.terms-of-service-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.terms-of-service-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 1360px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-header11 {
  font-size: 24px;
}
.terms-of-service-text24 {
  font-size: 24px;
}
.terms-of-service-text27 {
  font-size: 24px;
}
.terms-of-service-header12 {
  font-size: 24px;
}
.terms-of-service-header13 {
  font-size: 24px;
}
.terms-of-service-accordions {
  gap: var(--dl-space-space-fourunits);
  color: white;
  width: 100%;
  height: 136px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-accordion2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-header14 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.terms-of-service-title2 {
  font-size: 40px;
  max-width: 900px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.terms-of-service-items2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-element2 {
  align-items: flex-start;
}
.terms-of-service-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-header15 {
  font-size: 24px;
}
.terms-of-service-accordion3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-header16 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.terms-of-service-title3 {
  font-size: 40px;
  max-width: 900px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.terms-of-service-items3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-element3 {
  align-items: flex-start;
}
.terms-of-service-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-header17 {
  font-size: 24px;
}
.terms-of-service-text36 {
  font-size: 24px;
}
.terms-of-service-header18 {
  font-size: 24px;
}
.terms-of-service-header19 {
  font-size: 24px;
}
.terms-of-service-accordion4 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-header20 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.terms-of-service-title4 {
  font-size: 40px;
  max-width: 900px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.terms-of-service-items4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-element4 {
  align-items: flex-start;
}
.terms-of-service-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-header21 {
  font-size: 24px;
}
.terms-of-service-text41 {
  font-size: 24px;
}
.terms-of-service-header22 {
  font-size: 24px;
}
.terms-of-service-header23 {
  font-size: 24px;
}
.terms-of-service-accordion5 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-header24 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.terms-of-service-title5 {
  font-size: 40px;
  max-width: 900px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.terms-of-service-items5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-element5 {
  align-items: flex-start;
}
.terms-of-service-content5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terms-of-service-header25 {
  font-size: 24px;
}
.terms-of-service-link {
  text-decoration: underline;
}
.terms-of-service-text46 {
  text-decoration: underline;
}
.terms-of-service-text48 {
  font-size: 24px;
}
.terms-of-service-header26 {
  font-size: 24px;
}
.terms-of-service-header27 {
  font-size: 24px;
}
.terms-of-service-title6 {
  font-size: 40px;
  max-width: 900px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
}
.terms-of-service-footer {
  width: 100%;
  height: 151px;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
  background-color: #AA82FF;
}
.terms-of-service-content6 {
  gap: var(--dl-space-space-threeunits);
  width: 987px;
  display: flex;
  max-width: auto;
  align-self: center;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.terms-of-service-details {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 600px;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.terms-of-service-title7 {
  width: 100%;
  font-size: 32px;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  line-height: 45px;
}
.terms-of-service-copyright {
  width: auto;
  font-size: 14px;
  align-self: center;
  line-height: 21px;
}
.terms-of-service-navlink2 {
  text-decoration: underline;
}
.terms-of-service-navlink3 {
  text-decoration: underline;
}
.terms-of-service-navlink4 {
  text-decoration: underline;
}
.terms-of-service-container5 {
  display: contents;
}
.terms-of-service-container7 {
  display: contents;
}
@media(max-width: 767px) {
  .terms-of-service-hero {
    height: 60vh;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .terms-of-service-desktop-menu {
    display: none;
  }
  .terms-of-service-burger-menu {
    display: flex;
  }
  .terms-of-service-icon12 {
    fill: white;
  }
  .terms-of-service-nav1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .terms-of-service-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .terms-of-service-text12 {
    color: #000000;
  }
  .terms-of-service-nav2 {
    gap: var(--dl-space-space-unit);
  }
  .terms-of-service-text13 {
    color: #000000;
  }
  .terms-of-service-text14 {
    color: rgb(0, 0, 0);
  }
  .terms-of-service-text15 {
    color: rgb(0, 0, 0);
  }
  .terms-of-service-text16 {
    color: rgb(0, 0, 0);
  }
  .terms-of-service-text17 {
    color: rgb(0, 0, 0);
  }
  .terms-of-service-button-container {
    gap: var(--dl-space-space-unit);
    width: 50%;
    margin-top: 0px;
    align-items: flex-start;
    flex-direction: column;
  }
  .terms-of-service-login {
    width: 100%;
    border-width: 1px;
    margin-right: 0px;
  }
  .terms-of-service-register2 {
    width: 100%;
    border-width: 1px;
  }
  .terms-of-service-icon-group {
    width: 100%;
    justify-content: flex-start;
  }
  .terms-of-service-hero-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .terms-of-service-black {
    gap: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .terms-of-service-image {
    display: none;
  }
  .terms-of-service-join {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .terms-of-service-more {
    gap: var(--dl-space-space-threeunits);
    padding-top: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
  }
  .terms-of-service-title1 {
    font-size: 30px;
    line-height: 33px;
  }
  .terms-of-service-title2 {
    font-size: 30px;
    line-height: 33px;
  }
  .terms-of-service-element2 {
    align-items: flex-start;
  }
  .terms-of-service-title3 {
    font-size: 30px;
    line-height: 33px;
  }
  .terms-of-service-element3 {
    align-items: flex-start;
  }
  .terms-of-service-title4 {
    font-size: 30px;
    line-height: 33px;
  }
  .terms-of-service-text38 {
    font-size: 30px;
    line-height: 33px;
  }
  .terms-of-service-element4 {
    align-items: flex-start;
  }
  .terms-of-service-title5 {
    font-size: 30px;
    line-height: 33px;
  }
  .terms-of-service-element5 {
    align-items: flex-start;
  }
  .terms-of-service-title6 {
    font-size: 30px;
    line-height: 33px;
  }
  .terms-of-service-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .terms-of-service-content6 {
    gap: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .terms-of-service-title7 {
    font-size: 24px;
    line-height: 34px;
  }
}
@media(max-width: 479px) {
  .terms-of-service-mobile-menu {
    padding: 16px;
  }
  .terms-of-service-button-container {
    width: 100%;
  }
  .terms-of-service-icon-group {
    justify-content: center;
  }
  .terms-of-service-text18 {
    font-size: 50px;
  }
  .terms-of-service-text19 {
    font-size: 50px;
  }
  .terms-of-service-title1 {
    font-size: 18px;
  }
  .terms-of-service-header11 {
    font-size: 16px;
  }
  .terms-of-service-text30 {
    font-size: 16px;
  }
  .terms-of-service-header12 {
    font-size: 16px;
  }
  .terms-of-service-header13 {
    font-size: 16px;
  }
  .terms-of-service-title2 {
    font-size: 18px;
  }
  .terms-of-service-header15 {
    font-size: 16px;
  }
  .terms-of-service-text32 {
    font-size: 16px;
  }
  .terms-of-service-title3 {
    font-size: 18px;
  }
  .terms-of-service-header17 {
    font-size: 16px;
  }
  .terms-of-service-header18 {
    font-size: 16px;
  }
  .terms-of-service-header19 {
    font-size: 16px;
  }
  .terms-of-service-title4 {
    font-size: 18px;
  }
  .terms-of-service-text38 {
    font-size: 18px;
  }
  .terms-of-service-header21 {
    font-size: 16px;
  }
  .terms-of-service-text40 {
    font-size: 16px;
  }
  .terms-of-service-text42 {
    font-size: 16px;
  }
  .terms-of-service-text43 {
    font-size: 16px;
  }
  .terms-of-service-header22 {
    font-size: 16px;
  }
  .terms-of-service-header23 {
    font-size: 16px;
  }
  .terms-of-service-title5 {
    font-size: 18px;
  }
  .terms-of-service-header25 {
    font-size: 16px;
  }
  .terms-of-service-header26 {
    font-size: 16px;
  }
  .terms-of-service-header27 {
    font-size: 16px;
  }
  .terms-of-service-title6 {
    font-size: 18px;
  }
}
